div.about{
  main.sv{
    background-image: url("../images/about/sv.png");
  }
  main.cont1{
    @include paddingtop(80px,60px,50px);
    position: relative;
    &::before{
      content:"";
      width: 100%;
      height: 100%;
      background:url("../images/about/back1.png") no-repeat center bottom;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      transform: translateY(130px);
      @include tabhide();
    }
    section.flex{
      margin-top: 30px;
      @include flex(space-between,stretch,justify,stretch);
      article.left{
        @include basis(370px,370px,370px,0,0);
        @include tabcenter();
        p.text{
          margin:30px auto 0;
          max-width: 220px;
          text-align: center;
          line-height: 1;
          padding:10px;
          background-color: $second;
          color: #fff;
          border-radius: 3px;
          @include tsukuba();
        }
      }
      article.right{
        @include basis(calc(100% - 420px),100%,100%,30px,30px);
        h3{
          color: $second;
          @include fontsize(2rem,2rem,2rem);
        }
        p.text{
          line-height: 1.8;
          //margin-top: 30px;
          span{
            display: block;
            text-indent: -15px;
            padding-left: 15px;
          }
        }
      }
    }
  }
  main.cont2{
    @include paddingtop(80px,60px,50px);
    @include paddingbottom(80px,60px,50px);
    position: relative;
    &::before{
      content:"";
      position: absolute;
      width: 100%;
      height: calc(100% - 270px);
      left: 0;
      bottom: 0;
      background-color: $sixth;
      z-index: -2;
      @media only screen and (max-width: 767px){
        height: calc(100% - 120px);
      }
    }
    &::after{
      content:"";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background:url("../images/about/back2.png") no-repeat center;
      transform: translateY(60px);
      z-index: -1;
      @include tabhide();
    }
    section.flex{
      @include paddingtop(50px,40px,30px);
      @include flex(space-between,stretch,justify,stretch);
      article.left{
        @include basis(calc(100% - 370px),100%,100%,0,0);
        p.text{
          margin:30px auto;
          line-height: 1.8;
          letter-spacing: -.05em;
        }
        ul{
          list-style-type: disc;
          padding-left: 20px;
          li{
            position: relative;
            line-height: 2;
          }
        }
      }
      article.right{
        @include basis(320px,100%,100%,30px,30px);
        p.img:last-of-type{
          margin-top: 30px;
        }
        @media only screen and (max-width: 1365px) and (min-width: 768px){
          @include flex(space-between,center,justify,center);
          p{
            width: -ms-calc(50% - 15px);
            width: -webkit-calc(50% - 15px);
            width: calc(50% - 15px);
          }
          p.img:last-of-type{
            margin-top: 0;
          }
        }
      }
    }
  }
  main.cont3{
    @include paddingtop(80px,60px,50px);
    section.flex{
      @include flex(space-between,flex-end,justify,end);
      margin-top: 30px;
    }
    article.left{
      @include basis2(calc(100% - 420px),calc(50% - 15px),100%,0,0);
      @include tabcenter();
    }
    article.right{
      @include basis3(370px,calc(50% - 15px),100%,0,30px);
      @include tabcenter();
    }
    dl{
      @include flex(space-between,flex-start,justify,start);
      padding:15px 0;
      line-height: 1.5;
      border-top: 1px dotted $eighth;
      &:last-of-type{
        border-bottom: 1px dotted $eighth;
      }
      @media only screen and (max-width: 1365px){
        line-height: 1.3;
        padding:10px 0;
      }
    }
    dt{
      @include basis2(85px,85px,85px,0,0);
      color: $second;
    }
    dd{
      @include basis2(calc(100% - 100px),calc(100% - 100px),calc(100% - 100px),0,0);
      p.flex{
        @include flex(space-between,stretch,justify,stretch);
        span.left{
          @include basis2(100px,100px,100px,0,0);
        }
        span.right{
          @include basis2(calc(100% - 120px),calc(100% - 114px),calc(100% - 114px),0,0);
        }
      }
    }
  }
  main.cont4{
    @include paddingtop(80px,60px,50px);
    @include paddingbottom(300px,300px,170px);
    position: relative;
    z-index: 8;
    section.map{
      @include paddingtop(50px,50px,30px);
      iframe{
        width: 100%;
        height: 450px;
        @media only screen and (max-width: 767px){
          height: 300px;
        }
      }
    }
    section.access{
      margin-top: 30px;
      border-radius: 3px;
      background-color: $fourth;
      padding:30px;
      dl{
        @include flex(space-between,center,justify,center);
        line-height: 1.2;
        &:last-of-type{
          margin-top: 20px;
        }
      }
      dt{
        @include basis2(240px,240px,240px,0,0);
        color: $second;
        @include tsukuba();
        font-size: 2rem;
      }
      dd{
        @include basis3(calc(100% - 270px),100%,100%,10px,10px);
      }
    }
    p.link{
      max-width: 280px;
      margin:30px auto 0;
      a{
        display: block;
        color: #fff;
        text-align: center;
        background-color: $second;
        line-height: 1;
        padding:11px 15px 16px;
        border-radius: 30px;
        border:3px solid $second;
        transition: ease .2s all;
        &:hover{
          box-shadow: 0 0 0 2px #fff inset;
        }
      }
      img{
        display: inline-block;
        margin-right: 5px;
        transform: translateY(3px);
        width: 11px;
      }
    }
  }
}
