footer{
  background:url("../images/common/footer-back.png") no-repeat;
  background-size: cover;
  position: relative;
  &::before{
    content:"";
    width: 100%;
    height: 348px;
    position: absolute;
    z-index: 1;
    top: -348px;
    left: 0;
    background:url("../images/common/footer-top.png") no-repeat center;
    @media only screen and (min-width: 1921px){
      background-size: 100% auto;
    }
    @media only screen and (max-width: 767px){
      background-size: 1000px;
      background-position: right bottom;
      height: 170px;
      top: -170px;
    }
  }
  section.flex{
    @include paddingtop(80px,60px,50px);
    @include paddingbottom(80px,60px,30px);
    @include flex(space-between,flex-start,jsutify,start);
    article.left{
      @include basis(400px,360px,100%,0,0);
      @include tabcenter();
      p,a{
        color: #fff;
        @include tsukuba();
        @include fontsize(1.7rem,1.6rem,1.4rem);
        line-height: 1;
      }
      h2{
        margin-bottom: 15px;
        max-width: 280px;
      }
      p.address{
        margin-bottom: 8px;
      }
      p.map-link{
        margin-bottom: 20px;
        a{
          color: #fff;
        }
      }
      p.tell-text{
        padding-left: 5px;
        border-left: 2px solid #fff;
        margin-bottom: 15px;
      }
      p.tell{
        margin-bottom: 20px;
        max-width: 240px;
      }
      p.contact-link{
        margin-bottom: 15px;
        padding-left: 5px;
        border-left: 2px solid #fff;
      }
      div.flex2{
        margin-bottom: 20px;
        a{
          padding:8px 20px;
          color: $second;
          background:#fff;
          border-radius: 50px;
          display: inline-block;
          transition: ease .3s all;
          @include fontsize(1.6rem,1.6rem,1.4rem);
          &:hover{
            color: #fff;
            box-shadow: 0 0 0 2px #fff;
            background-color: rgba(255,255,255,0);
          }
          &:first-of-type{
            margin-right: 10px;
          }
        }
      }
      p.banner{
        transition: linear .3s all;
        &:hover{
          box-shadow: 0 5px 8px rgba(0,0,0,.3);
        }
      }
    }
    article.right{
      @include basis3(450px,calc(100% - 380px),100%,0,30px);
      border-radius: 10px;
      overflow:hidden;
      @include tabcenter();
      iframe{
        width: 100%;
        height: 366px;
        @media only screen and (max-width: 1365px){
          height: 280px;
        }
      }
    }
    p.sp-copy{
      color: #fff;
      width: calc(100% - 130px);
      margin-top: 30px;
      padding-left: 15px;
      a{
        color: #fff;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
  section.copy{
    background-color: $third;
    text-align: center;
    position: relative;
    padding:30px 15px;
    p.pagetop{
      position: absolute;
      right: calc(50% - 660px);
      top: -85px;
      width: 140px;
      height: 98px;
      @media only screen and (max-width: 1365px){
        right: calc(50% - 370px);
      }
      @media only screen and (max-width: 767px){
        width: 120px;
        height: 84px;
        right: 10px;
        top: -72px;
      }
      a{
        display: block;
      }
    }
    p.copy{
      color: #fff;
      a{
        color: #fff;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}
