div.recruit{
  main.sv{
    background-image: url("../images/recruit/sv.png");
  }
  main.cont1{
    @include paddingtop(80px,60px,50px);
    @include paddingbottom(50px,50px,50px);
    margin-top: 20px;
    background:$fourth;
    position: relative;
    z-index: 2;
    &::before{
      content:"";
      position: absolute;
      width: 100%;
      height: 100%;
      min-height: 520px;
      left: 0;
      top: 120px;
      background:url("../images/recruit/back1.png") no-repeat center;
      @media only screen and (min-width: 1921px){
        background-size: 100% auto;
      }
    }
    p.text{
      @include margintop(50px,50px,30px);
      @include fontsize(2rem,1.8rem,1.6rem);
      @include tsukuba();
      line-height: 2.4;
      text-align: center;
      @media only screen and (max-width: 767px){
        text-align: left;
      }
      span{
        @include tsukuba();
        font-size: 120%;
        &.gr{
          color: $second;
        }
        &.br{
          color: $third;
        }
      }
    }
  }
  main.cont2{
    @include paddingtop(80px,80px,80px);
    @include paddingbottom(80px,60px,50px);
    position: relative;
    &::before{
      content:"";
      width: 100%;
      height: 100%;
      left: 0;
      top:0;
      position: absolute;
      z-index: -2;
      background:url("../images/recruit/back2.png") no-repeat top center;
      @media only screen and (min-width: 1921px){
        background-size: 100% auto;
      }
    }
    &::after{
      content:"";
      width: 100%;
      height: 100%;
      left: 0;
      top:96px;
      position: absolute;
      z-index: -1;
      background:url("../images/recruit/back3.png") no-repeat center;
      @media only screen and (max-width: 1365px){
        background-size: 960px auto;
      }
    }
    section.flex{
      @include margintop(50px,50px,30px);
      @include flex(space-between,center,justify,center);
      @media only screen and (min-width: 768px){
        &:nth-of-type(2n){
          -ms-flex-direction: row-reverse;
          -webkit-flex-direction: row-reverse;
          flex-direction: row-reverse;
        }
      }
      article.left{
        @include basis(372px,320px,100%,0,0);
      }
      article.right{
        @include basis3(calc(100% - 422px),calc(100% - 350px),100%,0,0);
        @media only screen and (max-width: 767px){
          transform: translateY(-20px);
        }
        h3{
          width: 220px;
          padding:10px;
          line-height: 1.2;
          @include fontsize(1.8rem,1.8rem,1.6rem);
          color: #fff;
          background-color: $second;
          margin:0 auto 20px 0;
          text-align: center;
          border-radius: 3px;
          @include tsukuba();
          @media only screen and (max-width: 767px){
            margin:0 auto 15px;
          }
        }
        h4{
          color: $second;
          @include fontsize(1.6rem,1.6rem,1.4rem);
          margin-bottom: 10px;
        }
        p.text{
          line-height: 1.8;
          letter-spacing: -.07em;
          @media only screen and (max-width: 1365px){
            line-height: 1.5;
          }
        }
      }
    }
  }
  main.cont3{
    @include paddingbottom(300px,300px,170px);
    position: relative;
    &::before{
      content:"";
      width: 100%;
      height: calc(100% - 220px);
      left: 0;
      bottom: 0;
      z-index: -2;
      position: absolute;
      background-color: $sixth;
      @media only screen and (max-width: 767px){
        height: calc(100% - 150px);
      }
    }
    &::after{
      content:"";
      width: 100%;
      height: 766px;
      position: absolute;
      left: 0;
      bottom: 380px;
      background:url("../images/recruit/back4.png") no-repeat center;
      z-index: -1;
    }
    p.b-img{
      @include margintop(50px,50px,30px);
    }
    section.list{
      margin-top: 30px;
      border-radius: 3px;
      overflow: hidden;
      z-index: 10;
      position: relative;
      h3{
        padding:30px 100px 30px 30px;
        background-color: $fourth;
        color: $second;
        line-height: 1;
        @include fontsize(2.4rem,2.4rem,1.8rem);
        @include tsukuba();
        position: relative;
        cursor: pointer;
        &::before{
          content:"";
          width: 2px;
          height: 100%;
          border-left: 2px solid $second;
          padding-right: 7px;
        }
        &::after{
          content:"詳細";
          position: absolute;
          text-align: center;
          padding:8px;
          right: 30px;
          width: 70px;
          height: 30px;
          top:0;
          bottom:0;
          margin:auto 0;
          background-color: $second;
          color: #fff;
          font-size: 1.4rem;
          transition: ease .3s all;
        }
        &.rec-toggle-in::after{
          content:"閉じる";
          background:#fff;
          color: $second;
        }
      }
    }
    article.inner{
      @include padding2(70px,50px,70px);
      border:5px solid $fourth;
      border-top: none;
      background-color: #fff;
      display: none;
      p.text{
        margin-bottom: 30px;
      }
      dl{
        @include flex(space-between,stretch,justify,stretch);
        line-height: 1.5;
        dt{
          @include basis2(190px,190px,100%,0,0);
          padding:15px;
          text-align: center;
          background:#e3e2e2;
          border-bottom: 1px solid #fff;
        }
        dd{
          @include basis2(calc(100% - 210px),calc(100% - 210px),100%,0,0);
          padding:15px;
          border-bottom: 1px solid #e3e2e2;
        }
        &:first-of-type{
          dt{
            border-top: 1px solid #fff;
          }
          dd{
            border-top: 1px solid #e3e2e2;
            @media only screen and (max-width: 767px){
              border-top: none;
            }
          }
        }
      }
      p.link{
        max-width: 280px;
        margin:30px auto 0;
        a{
          display: block;
          background-color: $second;
          color: #fff;
          border-radius: 50px;
          padding:14px;
          text-align: center;
          line-height: 1;
          transition: ease .3s all;
          &:hover{
            background-color: #fff;
            box-shadow: 0 0 0 2px $second inset;
            color: $second;
          }
        }
      }
    }
  }
}
