div.schedule{
  main.sv{
    background-image: url("../images/schedule/sv.png");
  }
  main.cont1{
    @include paddingtop(80px,60px,50px);
    padding-bottom: 30px;
    section.flex{
      margin-top: 30px;
      @include flex(space-between,stretch,justify,stretch);
    }
    article.list{
      @include basis(435px,calc(50% - 15px),100%,0,30px);
      @include tabcenter();
      h3{
        padding:15px;
        text-align: center;
        color: #fff;
        line-height: 1;
        border-radius: 3px;
        background-color: $nineth;
        font-size: 2rem;
      }
      p.img{
        margin:30px auto;
      }
      div.list-wrap{
        position: relative;
        &::before{
          content:"";
          position: absolute;
          width: 100%;
          height: 100%;
          top: 60px;
          left: 0;
          background:url("../images/schedule/back1.png") no-repeat;
          z-index: 1;
          @include tabhide();
        }
      }
      dl{
        @include flex(space-between,stretch,justify,stretch);
        padding:15px 20px;
      }
      dt{
        @include basis2(70px,70px,70px,0,0);
        background-color: $nineth;
        padding:4px 10px;
        font-size: 1.6rem;
        text-align: center;
        color: #fff;
        border-radius: 30px;
      }
      dd{
        @include basis2(calc(100% - 100px),calc(100% - 100px),calc(100% - 100px),0,0);
        padding:4px 0;
        font-size: 1.6rem;
        position: relative;
        &::before{
          content:"";
          height: 1px;
          width: 100%;
          left: 0;
          bottom: -15px;
          border-bottom: 1px dotted $eighth;
          position: absolute;
        }
      }
    }
    article.list:last-of-type{
      h3{
        background-color: $tenth;
      }
      div.list-wrap{
        position: relative;
        &::before{
          top: 50px;
          background:url("../images/schedule/back2.png") no-repeat;
        }
      }
      dt{
        background-color: $tenth;
      }
    }
    p.sub-text{
      margin-top: 30px;
      text-align: right;
      @media only screen and (max-width: 767px){
        text-align: left;
        letter-spacing: -.05em;
        font-size: 1.2rem;
      }
    }
  }
  main.cont2{
    @include paddingtop(80px,60px,50px);
    @include paddingbottom(80px,60px,50px);
    background:url("../images/schedule/back3.png") no-repeat top center;
    @media only screen and (min-width: 1921px){
      background-size: 100% auto;
    }
    position: relative;
    &::before{
      content:"";
      width: 100%;
      height: calc(100% - 187px);
      left: 0;
      bottom: 0;
      background-color: $eleventh;
      z-index: -2;
      position: absolute;
    }
    &::after{
      content:"";
      position: absolute;
      width: 100%;
      height: 100%;
      left:0;
      top: 100px;
      background:url("../images/schedule/back4.png") no-repeat center;
      z-index: -1;
    }
    section.flex{
      margin-top: 30px;
      @include flex(space-between,stretch,justify,stretch);
      article.left{
        @include basis(calc(100% - 461px),456px,100%,0,0);
        @include flex(space-between,stretch,justify,stretch);
        @include tabcenter();
      }
      article.right{
        @include basis3(456px,456px,100%,5px,5px);
        @include tabcenter();
      }
      div.text{
        @include basis2(calc(100% - 261px),calc(100% - 261px),calc(50% - 5px),0,0);
        background-color: #fff;
        @include padding(40px,20px,40px);
        position: relative;
        border-radius: 3px;
        h3{
          line-height: 1.2;
          p{
            @include tsukuba();
            color: $second;
          }
          p.jp{
            font-size: 1.6rem;
            &:first-letter{
              font-size: 2rem;
            }
          }
        }
        ul{
          @include margintop(30px,30px,15px);
          list-style-type: disc;
          padding-left: 15px;
        }
      }
      div.text::before{
        content:"";
        position: absolute;
        bottom: 15px;
        right: 15px;
        background:no-repeat center;
        @media only screen and (max-width: 767px){
          transform: scale(.6);
          transform-origin: bottom right;
        }
      }
      div.spring::before{
        background-image:url("../images/schedule/back5.png");
        width: 102px;
        height: 92px;
      }
      div.summer::before{
        background-image:url("../images/schedule/back6.png");
        width: 96px;
        height: 92px;
      }
      div.autumn::before{
        background-image:url("../images/schedule/back7.png");
        width: 96px;
        height: 80px;
      }
      div.winter::before{
        background-image:url("../images/schedule/back8.png");
        width: 89px;
        height: 84px;
      }
      p.img{
        @include basis2(256px,256px,50%,0,0);
      }
    }
  }
  main.cont3{
    @include paddingtop(80px,60px,50px);
    @include paddingbottom(80px,60px,50px);
    position: relative;
    z-index: 2;
    &::before{
      content:"";
      width: 100%;
      height: 100%;
      left: 0;
      top:0;
      position: absolute;
      z-index: -1;
      background:url("../images/schedule/back9.png") no-repeat center top;
      transform: translateY(-120px);
      @media only screen and (min-width: 1921px){
        background-size: 100% auto;
      }
    }
    section.flex{
      @include flex(space-between,flex-end,justify,end);
      margin-top: 30px;
      article.left{
        @include basis2(calc(100% - 372px),100%,100%,0,0);
        p.text{
          margin-top: 20px;
          letter-spacing: -.05em;
          line-height: 1.8;
          @media only screen and (max-width: 1365px){
            line-height: 1.5;
          }
        }
      }
      article.right{
        @include basis3(322px,100%,100%,30px,30px);
      }
    }
    section.flex2{
      @include margintop(30px,30px,4px);
      @include flex(space-between,center,justify,center);
      p.img{
        @include basis2(calc(25% - 15px),calc(25% - 9px),calc(50% - 4px),0,0);
        @media only screen and (max-width: 767px){
          padding:4px 0;
        }
      }
    }
  }
  main.cont4{
    @include paddingbottom(300px,300px,170px);
    section.flex{
      @include margintop(30px,30px,22px);
      @include flex(space-between,flex-start,justify,start);
      article.img{
        @include basis2(calc(16.6666% - 9px),calc(16.6666% - 9px),calc(33.3333% - 7px),0,0);
        @media only screen and (max-width: 767px){
          padding:8px 0;
        }
      }
    }
  }
}
